In [76]:

import pandas as pd
import numpy as np

# Load the market data CSV
df = pd.read_csv(r'C:\Users\singh\OneDrive\Desktop\project TCS PSP\vendor_dataset_raw.csv')

# Display basic information
print("Dataset Shape:", df.shape)
print("\nNo. of Rows :" ,df.shape[0])
print("\nNo. of Columns :" ,df.shape[1])
print("\n" + "="*80)
print("Column Names and Data Types:")
print(df.dtypes)
print("\n" + "="*80)
print("First 10 rows:")
print(df.head(10))
print("\n" + "="*80)
print("Dataset Info:")
print(df.info())
print("\n" + "="*80)
print("Missing Values:")
print(df.isnull().sum())
print("\n" + "="*80)
print("Basic Statistics:")
print(df.describe())

# Check unique values in key columns
print("Unique Values Analysis:")
print("="*80)
print(f"Unique Security IDs: {df['Security_Id'].nunique()}")
print(f"Unique Vendors: {df['Vendor_ID'].nunique()}")
print(f"Unique Source Feeds: {df['Source_Feed_ID'].nunique()}")
print(f"Unique Price Types: {df['Price_Type'].nunique()}")
print(f"Unique Exchange Codes: {df['Exchange_Code'].nunique()}")
print(f"Unique Currency Codes: {df['Currency_Code'].nunique()}")

print("\n" + "="*80)
print("Vendors:\n")
print(df[['Vendor_ID', 'Vendor_Code']].drop_duplicates().sort_values('Vendor_ID').reset_index(drop=True))

print("\n" + "="*80)
print("Price Types:\n")
print(df['Price_Type'].value_counts())

print("\n" + "="*80)
print("Exchange Codes:\n")
print(df['Exchange_Code'].value_counts())

print("\n" + "="*80)
print("Currency Codes:\n")
print(df['Currency_Code'].value_counts())

print("\n" + "="*80)
print("Date Range:\n")
print(f"Date format sample: {df['Price_Date'].iloc[0]}")
print(f"Total unique dates: {df['Price_Date'].nunique()}")

Dataset Shape: (20000, 10)

No. of Rows : 20000

No. of Columns : 10

================================================================================
Column Names and Data Types:
Security_Id                  object
Vendor_ID                     int64
Vendor_Code                  object
Source_Feed_ID                int64
Price_Type                   object
Exchange_Code                object
Price_Date                   object
Currency_Code                object
Currency_Conversion_Rate    float64
Price                       float64
dtype: object

================================================================================
First 10 rows:
  Security_Id  Vendor_ID  Vendor_Code  Source_Feed_ID Price_Type  \
0    0479T6VX         60      FactSet             151        Ask
1    0479T6VX         70         MSCI             201      Close
2    0479T6VX         10    Bloomberg              22      Close
3    0479T6VX         50    Refinitiv              75      Close
4    0479T6VX         20       Markit              26        Bid
5    0479T6VX         60      FactSet             150       Open
6    0479T6VX         30          S&P             102      Close
7    0479T6VX         40      Reuters              51       Open
8    0479T6VX         40      Reuters              50        Ask
9    0479T6VX         80  Morningstar             301      Close

  Exchange_Code Price_Date Currency_Code  Currency_Conversion_Rate    Price
0           STO  01-Dec-24           AUD                    0.6700   391.32
1           FRA  05-May-25           CHF                    1.1000   334.50
2           FRA  05-Oct-24           AUD                    0.6700   420.23
3           TOR  06-Jun-25           CHF                    1.1000    12.31
4           ZUR  07-Dec-24           DKK                    0.1500  1080.42
5           ZUR  08-Aug-24           CHF                    1.1000   382.50
6           FRA  11-Sep-24           GBP                    1.3100    94.31
7           FRA  13-Jul-25           JPY                    0.0067  3013.24
8           STO  16-Jul-25           EUR                    1.1200   113.30
9           ZUR  17-Jun-24           EUR                    1.1200    96.20

================================================================================
Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Security_Id               20000 non-null  object
 1   Vendor_ID                 20000 non-null  int64
 2   Vendor_Code               20000 non-null  object
 3   Source_Feed_ID            20000 non-null  int64
 4   Price_Type                20000 non-null  object
 5   Exchange_Code             20000 non-null  object
 6   Price_Date                20000 non-null  object
 7   Currency_Code             20000 non-null  object
 8   Currency_Conversion_Rate  20000 non-null  float64
 9   Price                     20000 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 1.5+ MB
None

================================================================================
Missing Values:
Security_Id                 0
Vendor_ID                   0
Vendor_Code                 0
Source_Feed_ID              0
Price_Type                  0
Exchange_Code               0
Price_Date                  0
Currency_Code               0
Currency_Conversion_Rate    0
Price                       0
dtype: int64

================================================================================
Basic Statistics:
          Vendor_ID  Source_Feed_ID  Currency_Conversion_Rate         Price
count  20000.000000    20000.000000              20000.000000  20000.000000
mean      55.240000      184.374100                  0.628588   2946.596591
std       28.734538      158.356556                  0.476795   8601.309856
min       10.000000       20.000000                  0.006700     10.070000
25%       30.000000       51.000000                  0.096000    197.980000
50%       60.000000      150.000000                  0.705000    378.300000
75%       80.000000      301.000000                  1.100000   1027.105000
max      100.000000      502.000000                  1.310000  50140.000000
Unique Values Analysis:
================================================================================
Unique Security IDs: 800
Unique Vendors: 10
Unique Source Feeds: 30
Unique Price Types: 4
Unique Exchange Codes: 10
Unique Currency Codes: 10

================================================================================
Vendors:

   Vendor_ID  Vendor_Code
0         10    Bloomberg
1         20       Markit
2         30          S&P
3         40      Reuters
4         50    Refinitiv
5         60      FactSet
6         70         MSCI
7         80  Morningstar
8         90     ICE_Data
9        100       NASDAQ

================================================================================
Price Types:

Price_Type
Open     5046
Close    5015
Ask      4991
Bid      4948
Name: count, dtype: int64

================================================================================
Exchange Codes:

Exchange_Code
LON    2060
FRA    2044
NYC    2038
SYD    2023
OSL    2018
ZUR    2002
STO    1976
AMS    1975
TOR    1947
TOK    1917
Name: count, dtype: int64

================================================================================
Currency Codes:

Currency_Code
DKK    2108
EUR    2045
CHF    2023
GBP    1995
NOK    1989
USD    1979
SEK    1977
JPY    1970
CAD    1958
AUD    1956
Name: count, dtype: int64

================================================================================
Date Range:

Date format sample: 01-Dec-24
Total unique dates: 731

In [77]:

print("="*80)
print("STEP 1: DATA LOADING AND INITIAL INSPECTION")
print("="*80)
print(f"Total Records: {len(df)}")
print(f"Total Columns: {len(df.columns)}")
print("\nColumn Structure:")
for col in df.columns:
    print(f"  - {col}: {df[col].dtype}")

# Check for data quality issues
print("\n" + "="*80)
print("STEP 2: DATA QUALITY ASSESSMENT")
print("="*80)

# Missing values
print("\nMissing Values:")
missing = df.isnull().sum() # missing is a series
print(missing[missing > 0] if missing.sum() > 0 else "No missing values found") # missing[missing > 0] to show only columns with one or more missing values

# Checking for Duplicates
duplicates = df.duplicated().sum()
print(f"\nDuplicate Records: {duplicates}")

# Check for specific duplicates (same security, vendor, date, price type)
key_cols = ['Security_Id', 'Vendor_ID', 'Price_Date', 'Price_Type', 'Exchange_Code']
key_duplicates = df.duplicated(subset=key_cols).sum()
print(f"Duplicate Key Combinations: {key_duplicates}")

print("\n" + "="*80)
print("STEP 3: DATA TRANSFORMATION")
print("="*80)

# Convert Price_Date to datetime
df['Price_Date'] = pd.to_datetime(df['Price_Date'], format='%d-%b-%y')
print(f"\n  Converted Price_Date to datetime format")
print(f"\n  Date Range (earliest to latest): {df['Price_Date'].min()} to {df['Price_Date'].max()}")

# New Price column normalized in USD (US Dollars)
df['Price_USD'] = df['Price'] * df['Currency_Conversion_Rate']
print(f"\n  Created Price_USD column (normalized to USD)")
print(f"\n  Sample conversion: {df['Price'].iloc[0]:.2f} {df['Currency_Code'].iloc[0]} = ${df['Price_USD'].iloc[0]:.2f} USD")

# Sorting data for better analysis
df_sorted = df.sort_values(['Security_Id', 'Price_Date', 'Price_Type', 'Exchange_Code', 'Vendor_ID'])
print(f"\n  Sorted data by Security, Date, Price Type, Exchange, and Vendor")

print(f"\n  Data shape after transformation: {df_sorted.shape}")

================================================================================
STEP 1: DATA LOADING AND INITIAL INSPECTION
================================================================================
Total Records: 20000
Total Columns: 10

Column Structure:
  - Security_Id: object
  - Vendor_ID: int64
  - Vendor_Code: object
  - Source_Feed_ID: int64
  - Price_Type: object
  - Exchange_Code: object
  - Price_Date: object
  - Currency_Code: object
  - Currency_Conversion_Rate: float64
  - Price: float64

================================================================================
STEP 2: DATA QUALITY ASSESSMENT
================================================================================

Missing Values:
No missing values found

Duplicate Records: 0
Duplicate Key Combinations: 1

================================================================================
STEP 3: DATA TRANSFORMATION
================================================================================

  Converted Price_Date to datetime format

  Date Range (earliest to latest): 2023-10-29 00:00:00 to 2025-10-28 00:00:00

  Created Price_USD column (normalized to USD)

  Sample conversion: 391.32 AUD = $262.18 USD

  Sorted data by Security, Date, Price Type, Exchange, and Vendor

  Data shape after transformation: (20000, 11)

In [78]:
# Check unique values in key columns
print("Unique Values Analysis:")
print("="*80)
print(f"Unique Security IDs: {df_sorted['Security_Id'].nunique()}")
print(f"Unique Vendors: {df_sorted['Vendor_ID'].nunique()}")
print(f"Unique Source Feeds: {df_sorted['Source_Feed_ID'].nunique()}")
print(f"Unique Price Types: {df_sorted['Price_Type'].nunique()}")
print(f"Unique Exchange Codes: {df_sorted['Exchange_Code'].nunique()}")
print(f"Unique Currency Codes: {df_sorted['Currency_Code'].nunique()}")

print("\n" + "="*80)
print("Vendors:\n")
print(df_sorted[['Vendor_ID', 'Vendor_Code']].drop_duplicates().sort_values('Vendor_ID').reset_index(drop=True))

print("\n" + "="*80)
print("Price Types:\n")
print(df_sorted['Price_Type'].value_counts())

print("\n" + "="*80)
print("Exchange Codes:\n")
print(df_sorted['Exchange_Code'].value_counts())

print("\n" + "="*80)
print("Currency Codes:\n")
print(df_sorted['Currency_Code'].value_counts())

print("\n" + "="*80)
print("Date Range:\n")
print(f"Date format sample: {df_sorted['Price_Date'].iloc[0]}")
print(f"Total unique dates: {df_sorted['Price_Date'].nunique()}")

Unique Values Analysis:
================================================================================
Unique Security IDs: 800
Unique Vendors: 10
Unique Source Feeds: 30
Unique Price Types: 4
Unique Exchange Codes: 10
Unique Currency Codes: 10

================================================================================
Vendors:

   Vendor_ID  Vendor_Code
0         10    Bloomberg
1         20       Markit
2         30          S&P
3         40      Reuters
4         50    Refinitiv
5         60      FactSet
6         70         MSCI
7         80  Morningstar
8         90     ICE_Data
9        100       NASDAQ

================================================================================
Price Types:

Price_Type
Open     5046
Close    5015
Ask      4991
Bid      4948
Name: count, dtype: int64

================================================================================
Exchange Codes:

Exchange_Code
LON    2060
FRA    2044
NYC    2038
SYD    2023
OSL    2018
ZUR    2002
STO    1976
AMS    1975
TOR    1947
TOK    1917
Name: count, dtype: int64

================================================================================
Currency Codes:

Currency_Code
DKK    2108
EUR    2045
CHF    2023
GBP    1995
NOK    1989
USD    1979
SEK    1977
JPY    1970
CAD    1958
AUD    1956
Name: count, dtype: int64

================================================================================
Date Range:

Date format sample: 2024-02-18 00:00:00
Total unique dates: 731

In [79]:


#EDA on the dataset

print("="*80)
print("DATA SET ANALYSIS")
print("="*80)

# Check how many vendors provide prices for the same security/date/type/exchange
sample_groups = df_sorted.groupby(['Security_Id', 'Price_Type', 'Exchange_Code', 'Price_Date']).agg({
    'Vendor_ID': lambda x: list(x),
    'Vendor_Code': lambda x: list(x),
    'Price_USD': lambda x: list(x)
}).reset_index()

# Find groups with multiple vendors
multi_vendor_groups = sample_groups[sample_groups['Vendor_ID'].apply(len) > 1]

print(f"Total unique combinations: {len(sample_groups)}")
print(f"Combinations with multiple vendors: {len(multi_vendor_groups)}")
print(f"Combinations with single vendor: {len(sample_groups) - len(multi_vendor_groups)}")

if len(multi_vendor_groups) > 0:
    print("\nSample multi-vendor combination:")
    sample = multi_vendor_groups.iloc[0]
    print(f"  Security: {sample['Security_Id']}")
    print(f"  Price Type: {sample['Price_Type']}")
    print(f"  Exchange: {sample['Exchange_Code']}")
    print(f"  Date: {sample['Price_Date']}")
    print(f"  Vendors: {sample['Vendor_Code']}")
    print(f"  Prices (USD): {[f'${p:.2f}' for p in sample['Price_USD']]}")
else:
    print("\nNote: Current dataset has unique vendor-security-date-exchange combinations.")
    print("For meaningful price comparison analysis, we need multiple vendors")
    print("providing prices for the same security on the same date.")

# Show vendor coverage
print("\n" + "="*80)
print("VENDOR COVERAGE ANALYSIS")
print("="*80)

vendor_stats = df_sorted.groupby('Vendor_Code').agg({
    'Security_Id': 'nunique',
    'Price_Date': 'nunique',
    'Exchange_Code': 'nunique',
    'Price_Type': 'nunique',
    'Price': 'count'
}).round(2)
vendor_stats.columns = ['Unique Securities', 'Unique Dates', 'Unique Exchanges', 
                        'Unique Price Types', 'Total Records']
print(vendor_stats.sort_values('Total Records', ascending=False))

================================================================================
DATA SET ANALYSIS
================================================================================
Total unique combinations: 19991
Combinations with multiple vendors: 9
Combinations with single vendor: 19982

Sample multi-vendor combination:
  Security: 0AN0JBZU
  Price Type: Bid
  Exchange: TOR
  Date: 2025-01-05 00:00:00
  Vendors: ['MSCI', 'Morningstar']
  Prices (USD): ['$219.45', '$209.97']

================================================================================
VENDOR COVERAGE ANALYSIS
================================================================================
             Unique Securities  Unique Dates  Unique Exchanges  \
Vendor_Code
ICE_Data                   733           687                10
Morningstar                737           683                10
Reuters                    733           691                10
Bloomberg                  742           693                10
S&P                        747           681                10
FactSet                    721           675                10
MSCI                       739           681                10
NASDAQ                     728           688                10
Refinitiv                  731           687                10
Markit                     725           675                10

             Unique Price Types  Total Records
Vendor_Code
ICE_Data                      4           2077
Morningstar                   4           2061
Reuters                       4           2033
Bloomberg                     4           2006
S&P                           4           1994
FactSet                       4           1986
MSCI                          4           1981
NASDAQ                        4           1977
Refinitiv                     4           1952
Markit                        4           1933

In [80]:
df_sorted.head(20)

,Security_Id,Vendor_ID,Vendor_Code,Source_Feed_ID,Price_Type,Exchange_Code,Price_Date,Currency_Code,Currency_Conversion_Rate,Price,Price_USD
10,0479T6VX,20,Markit,25,Open,NYC,2024-02-18,AUD,0.6700,111.80,74.906000
18,0479T6VX,80,Morningstar,301,Bid,FRA,2024-05-28,CAD,0.7400,49.80,36.852000
9,0479T6VX,80,Morningstar,301,Close,ZUR,2024-06-17,EUR,1.1200,96.20,107.744000
17,0479T6VX,90,ICE_Data,402,Open,ZUR,2024-06-28,AUD,0.6700,105.40,70.618000
5,0479T6VX,60,FactSet,150,Open,ZUR,2024-08-08,CHF,1.1000,382.50,420.750000
6,0479T6VX,30,S&P,102,Close,FRA,2024-09-11,GBP,1.3100,94.31,123.546100
2,0479T6VX,10,Bloomberg,22,Close,FRA,2024-10-05,AUD,0.6700,420.23,281.554100
0,0479T6VX,60,FactSet,151,Ask,STO,2024-12-01,AUD,0.6700,391.32,262.184400
4,0479T6VX,20,Markit,26,Bid,ZUR,2024-12-07,DKK,0.1500,1080.42,162.063000
14,0479T6VX,20,Markit,27,Ask,STO,2025-01-24,CHF,1.1000,56.10,61.710000
15,0479T6VX,60,FactSet,151,Open,TOK,2025-01-24,NOK,0.0930,1913.60,177.964800
12,0479T6VX,10,Bloomberg,22,Bid,SYD,2025-04-20,USD,1.0000,73.90,73.900000
1,0479T6VX,70,MSCI,201,Close,FRA,2025-05-05,CHF,1.1000,334.50,367.950000
13,0479T6VX,80,Morningstar,300,Bid,NYC,2025-05-20,EUR,1.1200,15.75,17.640000
3,0479T6VX,50,Refinitiv,75,Close,TOR,2025-06-06,CHF,1.1000,12.31,13.541000
7,0479T6VX,40,Reuters,51,Open,FRA,2025-07-13,JPY,0.0067,3013.24,20.188708
8,0479T6VX,40,Reuters,50,Ask,STO,2025-07-16,EUR,1.1200,113.30,126.896000
11,0479T6VX,100,NASDAQ,502,Close,SYD,2025-07-18,GBP,1.3100,450.10,589.631000
16,0479T6VX,60,FactSet,150,Bid,FRA,2025-08-27,JPY,0.0067,7411.96,49.660132
45,049ENULQ,80,Morningstar,301,Ask,TOK,2023-10-29,USD,1.0000,271.70,271.700000

Phase 2: Data Aggregation and Statistical Analysis

In [81]:
grouping_columns = ['Security_Id', 'Price_Type', 'Exchange_Code', 'Price_Date']

In [82]:
#1. Median Price (Benchmark for comparison)
# Median is more robust to outliers than mean
median_price = df.groupby(grouping_columns)['Price_USD'].median()
print("Median Price : $",median_price)

Median Price : $ Security_Id  Price_Type  Exchange_Code  Price_Date
0479T6VX     Ask         STO            2024-12-01    262.184400
                                        2025-01-24     61.710000
                                        2025-07-16    126.896000
             Bid         FRA            2024-05-28     36.852000
                                        2025-08-27     49.660132
                                                         ...
ZYCWTIQJ     Close       TOR            2025-06-10     19.437000
             Open        AMS            2024-02-28    387.900000
                         SYD            2024-07-27     80.377500
                         TOK            2024-05-20    460.680000
                                        2025-10-05     29.443200
Name: Price_USD, Length: 19991, dtype: float64

In [83]:
median_price

Security_Id  Price_Type  Exchange_Code  Price_Date
0479T6VX     Ask         STO            2024-12-01    262.184400
                                        2025-01-24     61.710000
                                        2025-07-16    126.896000
             Bid         FRA            2024-05-28     36.852000
                                        2025-08-27     49.660132
                                                         ...
ZYCWTIQJ     Close       TOR            2025-06-10     19.437000
             Open        AMS            2024-02-28    387.900000
                         SYD            2024-07-27     80.377500
                         TOK            2024-05-20    460.680000
                                        2025-10-05     29.443200
Name: Price_USD, Length: 19991, dtype: float64

In [84]:
#2. Min and Max Prices (Price range)
min_price = df.groupby(grouping_columns)['Price_USD'].min()
max_price = df.groupby(grouping_columns)['Price_USD'].max()
print("Maximum Price: $",max_price)
print("\nMinimum Price: $",min_price)

Maximum Price: $ Security_Id  Price_Type  Exchange_Code  Price_Date
0479T6VX     Ask         STO            2024-12-01    262.184400
                                        2025-01-24     61.710000
                                        2025-07-16    126.896000
             Bid         FRA            2024-05-28     36.852000
                                        2025-08-27     49.660132
                                                         ...
ZYCWTIQJ     Close       TOR            2025-06-10     19.437000
             Open        AMS            2024-02-28    387.900000
                         SYD            2024-07-27     80.377500
                         TOK            2024-05-20    460.680000
                                        2025-10-05     29.443200
Name: Price_USD, Length: 19991, dtype: float64

Minimum Price: $ Security_Id  Price_Type  Exchange_Code  Price_Date
0479T6VX     Ask         STO            2024-12-01    262.184400
                                        2025-01-24     61.710000
                                        2025-07-16    126.896000
             Bid         FRA            2024-05-28     36.852000
                                        2025-08-27     49.660132
                                                         ...
ZYCWTIQJ     Close       TOR            2025-06-10     19.437000
             Open        AMS            2024-02-28    387.900000
                         SYD            2024-07-27     80.377500
                         TOK            2024-05-20    460.680000
                                        2025-10-05     29.443200
Name: Price_USD, Length: 19991, dtype: float64

In [85]:
#3. Standard Deviation (Measure of price dispersion)
std_dev = df.groupby(grouping_columns)['Price_USD'].std()

In [86]:
#4. Vendor Count (Number of vendors providing prices)
vendor_count = df.groupby(grouping_columns)['Vendor_ID'].nunique()

In [87]:
#Complete Aggregation:
# Create statistics table
stats_df = df.groupby(grouping_columns).agg({
'Price_USD': ['median', 'min', 'max', 'mean', 'std', 'count']
}).reset_index()
# Flatten column names
stats_df.columns = ['Security_Id', 'Price_Type', 'Exchange_Code',
'Price_Date', 'Median_Price', 'Min_Price',
'Max_Price', 'Mean_Price', 'Std_Dev', 'Vendor_Count']

In [88]:
stats_df[stats_df['Vendor_Count']==2]

,Security_Id,Price_Type,Exchange_Code,Price_Date,Median_Price,Min_Price,Max_Price,Mean_Price,Std_Dev,Vendor_Count
135,0AN0JBZU,Bid,TOR,2025-01-05,214.709900,209.968000,219.4518,214.709900,6.706059,2
766,1T2TALA7,Open,STO,2024-05-09,236.758400,66.316800,407.2000,236.758400,241.040822,2
3123,5Z8VMUHX,Open,TOK,2024-05-31,262.554000,16.798000,508.3100,262.554000,347.551468,2
7875,EKTSG7FX,Open,ZUR,2025-09-04,102.503400,24.508800,180.4980,102.503400,110.301021,2
8212,F7JXJN6F,Ask,ZUR,2025-07-31,418.582750,280.716800,556.4487,418.582750,194.971896,2
9067,GWW4FYB8,Ask,FRA,2024-08-21,127.518720,96.479040,158.5584,127.518720,43.896736,2
10462,JDAN085R,Ask,STO,2024-03-13,174.669000,131.990000,217.3480,174.669000,60.357221,2
13797,PNMJQY3O,Ask,AMS,2025-02-16,304.067005,213.169009,394.9650,304.067005,128.549178,2
15366,RY79KVL,Bid,AMS,2025-05-28,280.778400,122.864000,438.6928,280.778400,223.324686,2

In [89]:
result_df

,Security_Id,Vendor_ID,Vendor_Code,Source_Feed_ID,Price_Type,Exchange_Code,Price_Date,Currency_Code,Currency_Conversion_Rate,Price,...,Median_Price,Min_Price,Max_Price,Mean_Price,Std_Dev,Vendor_Count,Price_Variation_Pct,Abs_Price_Variation_Pct,Outlier_Category,Is_Concurrent_Price
0,0479T6VX,60,FactSet,150,Open,TOK,2024-02-02,CHF,1.1000,435.70,...,479.27000,479.27000,479.27000,479.27000,NaN,1,0.0,0.0,Exact Match (0%),True
1,0479T6VX,80,Morningstar,302,Close,LON,2024-09-04,EUR,1.1200,200.08,...,224.08960,224.08960,224.08960,224.08960,NaN,1,0.0,0.0,Exact Match (0%),True
2,0479T6VX,50,Refinitiv,75,Open,TOK,2024-12-05,EUR,1.1200,314.50,...,352.24000,352.24000,352.24000,352.24000,NaN,1,0.0,0.0,Exact Match (0%),True
3,0479T6VX,10,Bloomberg,22,Ask,FRA,2023-12-06,GBP,1.3100,68.10,...,89.21100,89.21100,89.21100,89.21100,NaN,1,0.0,0.0,Exact Match (0%),True
4,0479T6VX,100,NASDAQ,501,Bid,OSL,2025-06-14,CAD,0.7400,13.52,...,10.00480,10.00480,10.00480,10.00480,NaN,1,0.0,0.0,Exact Match (0%),True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,ZYCWTIQJ,20,Markit,26,Open,LON,2024-03-27,GBP,1.3100,455.20,...,596.31200,596.31200,596.31200,596.31200,NaN,1,0.0,0.0,Exact Match (0%),True
4996,ZYCWTIQJ,100,NASDAQ,500,Open,TOR,2023-11-27,JPY,0.0067,19543.60,...,130.94212,130.94212,130.94212,130.94212,NaN,1,0.0,0.0,Exact Match (0%),True
4997,ZYCWTIQJ,30,S&P,101,Open,TOR,2025-06-29,USD,1.0000,21.84,...,21.84000,21.84000,21.84000,21.84000,NaN,1,0.0,0.0,Exact Match (0%),True
4998,ZYCWTIQJ,50,Refinitiv,75,Close,STO,2025-08-30,USD,1.0000,495.69,...,495.69000,495.69000,495.69000,495.69000,NaN,1,0.0,0.0,Exact Match (0%),True
4999,ZYCWTIQJ,100,NASDAQ,502,Close,FRA,2024-10-30,CAD,0.7400,352.10,...,260.55400,260.55400,260.55400,260.55400,NaN,1,0.0,0.0,Exact Match (0%),True

Step 2.3: Calculate Price Variation Percentage

In [90]:
#Objective: Measure how much each vendor's price deviates from the median.

# Merge individual records with statistics
result_df = df.merge(stats_df, on=grouping_columns, how='left')
# Calculate variation percentage
result_df['Price_Variation_Pct'] = (
(result_df['Price_USD'] - result_df['Median_Price']) /
result_df['Median_Price'] * 100
)
# Calculate absolute variation for outlier detection
result_df['Abs_Price_Variation_Pct'] = result_df['Price_Variation_Pct'].abs()

In [91]:
result_df

,Security_Id,Vendor_ID,Vendor_Code,Source_Feed_ID,Price_Type,Exchange_Code,Price_Date,Currency_Code,Currency_Conversion_Rate,Price,Price_USD,Median_Price,Min_Price,Max_Price,Mean_Price,Std_Dev,Vendor_Count,Price_Variation_Pct,Abs_Price_Variation_Pct
0,0479T6VX,60,FactSet,151,Ask,STO,2024-12-01,AUD,0.67,391.32,262.1844,262.1844,262.1844,262.1844,262.1844,NaN,1,0.0,0.0
1,0479T6VX,70,MSCI,201,Close,FRA,2025-05-05,CHF,1.10,334.50,367.9500,367.9500,367.9500,367.9500,367.9500,NaN,1,0.0,0.0
2,0479T6VX,10,Bloomberg,22,Close,FRA,2024-10-05,AUD,0.67,420.23,281.5541,281.5541,281.5541,281.5541,281.5541,NaN,1,0.0,0.0
3,0479T6VX,50,Refinitiv,75,Close,TOR,2025-06-06,CHF,1.10,12.31,13.5410,13.5410,13.5410,13.5410,13.5410,NaN,1,0.0,0.0
4,0479T6VX,20,Markit,26,Bid,ZUR,2024-12-07,DKK,0.15,1080.42,162.0630,162.0630,162.0630,162.0630,162.0630,NaN,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,ZYCWTIQJ,70,MSCI,200,Open,SYD,2024-07-27,DKK,0.15,535.85,80.3775,80.3775,80.3775,80.3775,80.3775,NaN,1,0.0,0.0
19996,ZYCWTIQJ,90,ICE_Data,401,Open,AMS,2024-02-28,USD,1.00,387.90,387.9000,387.9000,387.9000,387.9000,387.9000,NaN,1,0.0,0.0
19997,ZYCWTIQJ,50,Refinitiv,77,Bid,FRA,2023-11-28,USD,1.00,267.63,267.6300,267.6300,267.6300,267.6300,267.6300,NaN,1,0.0,0.0
19998,ZYCWTIQJ,70,MSCI,200,Bid,OSL,2025-09-28,GBP,1.31,65.00,85.1500,85.1500,85.1500,85.1500,85.1500,NaN,1,0.0,0.0
19999,ZYCWTIQJ,90,ICE_Data,402,Ask,TOK,2024-12-31,EUR,1.12,471.43,528.0016,528.0016,528.0016,528.0016,528.0016,NaN,1,0.0,0.0

In [92]:
result_df['Abs_Price_Variation_Pct'].value_counts()

Abs_Price_Variation_Pct
0.000000     19982
71.989674        2
93.602078        2
56.241648        2
24.341273        2
32.936367        2
76.089769        1
2.208515         1
2.208515         1
76.089769        1
24.434216        1
24.434216        1
29.894067        1
29.894067        1
Name: count, dtype: int64

Step 2.4: Create Outlier Buckets

In [93]:
#Objective: Categorize price deviations into severity levels
def categorize_outlier(variation_pct):
    abs_var = abs(variation_pct)
    if abs_var == 0:
     return 'Exact Match (0%)'
    elif abs_var <= 3:
     return 'Low (less than 3%)'
    elif abs_var <= 5:
     return 'Medium (3-5%)'
    else:
     return 'High (greater than 5%)'
result_df['Outlier_Category'] = result_df['Price_Variation_Pct'].apply(
categorize_outlier
)

Step 2.5: Calculate Concurrent Prices (Precision)

In [94]:
#Objective: Identify cases where all vendors agree on the same price
result_df['Is_Concurrent_Price'] = (
(result_df['Min_Price'] == result_df['Max_Price']) & (result_df['Max_Price'] == result_df['Median_Price'])
)
# Calculate precision percentage per vendor
precision_by_vendor = result_df.groupby('Vendor_Code').agg({
'Is_Concurrent_Price': ['sum', 'count']
}).reset_index()
precision_by_vendor['Precision_Percentage'] = (
precision_by_vendor[('Is_Concurrent_Price', 'sum')] /
precision_by_vendor[('Is_Concurrent_Price', 'count')] * 100
)

Step 2.6: Aggregate Outlier Counts

In [95]:
#Objective: Create summary tables for dashboard visualization.

#By Vendor and Outlier Category:
outlier_summary = result_df.groupby(
['Vendor_Code', 'Price_Date', 'Exchange_Code', 'Price_Type', 'Outlier_Category']
).size().reset_index(name='Count')

In [96]:
#Vendor Performance Summary:
vendor_performance = result_df.groupby('Vendor_Code').agg({
'Security_Id': 'count', # Total records
'Abs_Price_Variation_Pct': 'mean', # Average deviation
'Is_Concurrent_Price': 'sum', # Exact matches
'Outlier_Category': lambda x: (x == 'High (&gt;5%)').sum() # High outliers
}).reset_index()
vendor_performance.columns = [
'Vendor', 'Total_Comparisons', 'Avg_Deviation_Pct',
'Exact_Matches', 'High_Outliers'
]
# Calculate precision percentage
vendor_performance['Precision_Pct'] = (
vendor_performance['Exact_Matches'] /
vendor_performance['Total_Comparisons'] * 100
)

In [97]:
result_df

,Security_Id,Vendor_ID,Vendor_Code,Source_Feed_ID,Price_Type,Exchange_Code,Price_Date,Currency_Code,Currency_Conversion_Rate,Price,...,Median_Price,Min_Price,Max_Price,Mean_Price,Std_Dev,Vendor_Count,Price_Variation_Pct,Abs_Price_Variation_Pct,Outlier_Category,Is_Concurrent_Price
0,0479T6VX,60,FactSet,151,Ask,STO,2024-12-01,AUD,0.67,391.32,...,262.1844,262.1844,262.1844,262.1844,NaN,1,0.0,0.0,Exact Match (0%),True
1,0479T6VX,70,MSCI,201,Close,FRA,2025-05-05,CHF,1.10,334.50,...,367.9500,367.9500,367.9500,367.9500,NaN,1,0.0,0.0,Exact Match (0%),True
2,0479T6VX,10,Bloomberg,22,Close,FRA,2024-10-05,AUD,0.67,420.23,...,281.5541,281.5541,281.5541,281.5541,NaN,1,0.0,0.0,Exact Match (0%),True
3,0479T6VX,50,Refinitiv,75,Close,TOR,2025-06-06,CHF,1.10,12.31,...,13.5410,13.5410,13.5410,13.5410,NaN,1,0.0,0.0,Exact Match (0%),True
4,0479T6VX,20,Markit,26,Bid,ZUR,2024-12-07,DKK,0.15,1080.42,...,162.0630,162.0630,162.0630,162.0630,NaN,1,0.0,0.0,Exact Match (0%),True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,ZYCWTIQJ,70,MSCI,200,Open,SYD,2024-07-27,DKK,0.15,535.85,...,80.3775,80.3775,80.3775,80.3775,NaN,1,0.0,0.0,Exact Match (0%),True
19996,ZYCWTIQJ,90,ICE_Data,401,Open,AMS,2024-02-28,USD,1.00,387.90,...,387.9000,387.9000,387.9000,387.9000,NaN,1,0.0,0.0,Exact Match (0%),True
19997,ZYCWTIQJ,50,Refinitiv,77,Bid,FRA,2023-11-28,USD,1.00,267.63,...,267.6300,267.6300,267.6300,267.6300,NaN,1,0.0,0.0,Exact Match (0%),True
19998,ZYCWTIQJ,70,MSCI,200,Bid,OSL,2025-09-28,GBP,1.31,65.00,...,85.1500,85.1500,85.1500,85.1500,NaN,1,0.0,0.0,Exact Match (0%),True
19999,ZYCWTIQJ,90,ICE_Data,402,Ask,TOK,2024-12-31,EUR,1.12,471.43,...,528.0016,528.0016,528.0016,528.0016,NaN,1,0.0,0.0,Exact Match (0%),True

In [98]:
result_df['Is_Concurrent_Price'].value_counts()

Is_Concurrent_Price
True     19982
False       18
Name: count, dtype: int64

Step 2.7: Create Reporting Tables

Table 1: Fact_Price_Details (Detailed transaction-level data)

In [99]:
#Objective: Design optimized tables for Power BI import.
fact_price = result_df[[
'Security_Id', 'Vendor_ID', 'Vendor_Code', 'Source_Feed_ID',
'Price_Type', 'Exchange_Code', 'Price_Date',
'Price_USD', 'Median_Price', 'Price_Variation_Pct',
'Abs_Price_Variation_Pct', 'Outlier_Category', 'Is_Concurrent_Price'
]]

fact_price.to_csv('Fact_Price_Details.csv', index=False)

Table 2: Fact_Vendor_Performance (Aggregated vendor metrics)

In [100]:
#Objective: Design optimized tables for Power BI import.
fact_vendor_perf = result_df.groupby(
['Vendor_Code', 'Price_Date', 'Exchange_Code', 'Price_Type']
).agg({
'Security_Id': 'count',
'Price_Variation_Pct': 'mean',
'Abs_Price_Variation_Pct': 'mean',
'Outlier_Category': lambda x: pd.Series({
'Exact_Match_Count': (x == 'Exact Match (0%)').sum(),
'Low_Outlier_Count': (x == 'Low (less than 3%)').sum(),
'Medium_Outlier_Count': (x == 'Medium (3-5%)').sum(),
'High_Outlier_Count': (x == 'High (greater than 5%)').sum()
})
}).reset_index()

fact_vendor_perf.to_csv('Fact_Vendor_Performance.csv', index=False)

Table 3: Dim_Vendor (Vendor dimension)

In [101]:
#Objective: Design optimized tables for Power BI import.
dim_vendor = result_df[['Vendor_ID', 'Vendor_Code']].drop_duplicates()
dim_vendor.to_csv('Dim_Vendor.csv', index=False)

Table 4: Dim_Date (Date dimension for time intelligence)

In [102]:
#Objective: Design optimized tables for Power BI import.
date_range = pd.date_range(
start=result_df['Price_Date'].min(),
end=result_df['Price_Date'].max(),
freq='D'
)
dim_date = pd.DataFrame({
'Date': date_range,
'Year': date_range.year,
'Quarter': date_range.quarter,
'Month': date_range.month,
'Month_Name': date_range.strftime('%B'),
'Week': date_range.isocalendar().week,
'Day': date_range.day,
'Day_Name': date_range.strftime('%A'),
'Is_Weekend': date_range.dayofweek >= 5
})

dim_date.to_csv('Dim_Date.csv', index=False)